<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFvQ1475uGkcaiecq1tu4U1nWmG9Wgkzk</string>
	<key>GCM_SENDER_ID</key>
	<string>909278387908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stocks</string>
	<key>PROJECT_ID</key>
	<string>my-stocks-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-stocks-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909278387908:ios:cb2ce4e57b69e384f57391</string>
</dict>
</plist>